body {
    font-family: 'Do Hyeon', sans-serif !important;
    background-image: linear-gradient(to bottom, rgba(190, 255, 168, 0.5), rgba(26, 114, 255, 0.5));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header {
    position: fixed;
    top: 3px;
    z-index: 3;
}

.Logo {
    position: fixed;
    top: 6px;
    text-align: center;
    z-index: 3;
}

#img-logo {
    width: 110px;
    height: 40px;
    border-radius: 5px 0px 0px 5px;
}

.gnb {
    position: fixed;
    top: 10px;
    right: 14.2%;
    text-align: right;
    z-index: 3;
    padding-top: 8px;
}

#signin, #signup {
    text-decoration: none;
    color: black;
    padding-left: 15px;
    font-size: 15px;
}

.menu-bar {
    text-align: center;
    position: fixed;
    top: 10px;
    right: 0px;
    left: -5px;
    height: 40px;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.6);
}

.main-menu {
    margin: 0%;
    list-style: none;
    display: inline-flex;
    text-align: center;
}


.sub-menu {
    text-align: center;
    height: 50px;
    padding-top: 1%;
}

.sub-menu2 {
    text-align: center;
    margin-top: 50px;
}

.sub-menu2 > li {
    padding: 3px;
}

.sub-menu ul {
    list-style: none;
    visibility: hidden;
    text-align: center;
    padding: 0px;
}

.main-menu > li:hover .sub-menu2 {
    list-style: none;
    visibility: visible;
}

.sub-menu:hover li{
    transition: .4s ease-in-out;
    transform: translateY(-150%);
}

.sub-menu > ul > li {
    width: 200px;
    overflow: hidden;
}

a.sub-list:link{
    text-decoration: none;
    color: black;
}

a.sub-list:visited{
    text-decoration: none;
    color: black;
}

#indicator {
    position: fixed;
    left: 29.2%;
    top: 42px;
    width: 30px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    transition: 0.2s ease left;
}

.main-menu li:nth-of-type(1):hover ~ #indicator
{
    background: linear-gradient(130deg, yellow, red);
}

.main-menu li:nth-of-type(2):hover ~ #indicator
{
    left: 41.6%;
    background: linear-gradient(130deg, #e4f523, #1af1a2);
}

.main-menu li:nth-child(3):hover ~ #indicator
{
    left: 56%;
    background: linear-gradient(130deg,rgb(16, 234, 136), rgb(25, 104, 230));
}

.main-menu li:nth-child(4):hover ~ #indicator
{
    left: 68.4%;
    background: linear-gradient(130deg,palevioletred, purple);
}

.content{
    position: relative;
    text-align: left;
    padding-top: 100px;
    padding-left: 198px;
}

.community-list {
    background-color: white;
    width: 160px;
    height: 300px;
    border-radius: 5px 5px;
    box-shadow: 0 0 10px rgb(133, 133, 133);
}

.club-list{
    list-style: none;
    margin-left: 8px;
    padding-top: 18px;
    list-style-image: url('../img/icon.png');
    font-size: 17px;
}

.list {
    text-decoration: none;
    color: black;
}

.list:hover {
    color: black;
}

.club-list li {
    padding-bottom: 6px;
    
}

.content{
    position: absolute;
    top: 0px;
    text-align: left;
    padding-top: 100px;
    padding-left: 30px;
}

.community-content{
  position: absolute;
  top: 80px;
  width: 800px;
  margin-left: 300px;
  background-color: white;
  margin-bottom : 30px;
  border-radius: 5px 5px;
  box-shadow: 0 0 10px rgb(133, 133, 133);
  padding-bottom:20px;

}

h1{
  margin-left: 30px;
  padding-top: 20px;
}

a{
    text-decoration: none;
}

h3{
    margin-left: 80px;
}

img{
  margin: 10px 0px 10px 100px;
  width: 300px;
  height: 300px;
}

.img-spot{
  background-color: black;
}

#pro1 {
    position: absolute;
    top: 127px;
    left: 100px;
    width: 300px;
    height: 300px;
    text-align: center;
    padding-top: 130px;
    background-color: rgb(130, 130, 130);
    opacity: 0.4;
}
#pro2 {
    position: absolute;
    top: 582px;
    left: 100px;
    width: 300px;
    height: 300px;
    text-align: center;
    padding-top: 130px;
    background-color: rgb(130, 130, 130);
    opacity: 0.4;
}
#pro3 {
    position: absolute;
    top: 1037px;
    left: 100px;
    width: 300px;
    height: 300px;
    text-align: center;
    padding-top: 130px;
    background-color: rgb(130, 130, 130);
    opacity: 0.4;
}
#pro4 {
    position: absolute;
    top: 1492px;
    left: 100px;
    width: 300px;
    height: 300px;
    text-align: center;
    padding-top: 130px;
    background-color: rgb(130, 130, 130);
    opacity: 0.4;
}
#pro5 {
    position: absolute;
    top: 1947px;
    left: 100px;
    width: 300px;
    height: 300px;
    text-align: center;
    padding-top: 130px;
    background-color: rgb(130, 130, 130);
    opacity: 0.4;
}
#pro6 {
    position: absolute;
    top: 2400px;
    left: 100px;
    width: 300px;
    height: 300px;
    text-align: center;
    padding-top: 130px;
    background-color: rgb(130, 130, 130);
    opacity: 0.4;
}
#pro7 {
    position: absolute;
    top: 2855px;
    left: 100px;
    width: 300px;
    height: 300px;
    text-align: center;
    padding-top: 130px;
    background-color: rgb(130, 130, 130);
    opacity: 0.4;
}
#pro8 {
    position: absolute;
    top: 3310px;
    left: 100px;
    width: 300px;
    height: 300px;
    text-align: center;
    padding-top: 130px;
    background-color: rgb(130, 130, 130);
    opacity: 0.4;
}
#pro9 {
    position: absolute;
    top: 3764px;
    left: 100px;
    width: 300px;
    height: 300px;
    text-align: center;
    padding-top: 130px;
    background-color: rgb(130, 130, 130);
    opacity: 0.4;
}

#p {
    color: black;
}

.promotion{
  visibility: hidden;
}

.join{
  margin-left : 300px;
  margin-top: 10px;
  width : 120px;
  border-radius : 5px 5px;   
  border: none;
  background-color: skyblue;
}


#dp  {
  position : fixed;   
  top: 180px;
  right: 80px;
  font-style: bold;
  font-size:17px;
  border-radius: 5px 5px;
  background-color: white;
  border-radius: 5px 5px;
  box-shadow: 0 0 10px rgb(133, 133, 133);
    
}
#dp ul{
  list-style: none;
  font-size: 20px;
  color: black;
  text-align: left;
  padding-right: 30px;    
}

#dp ul li{
  padding-bottom: 10px;
  text-align: center;
}

#dp ul li a{
    text-decoration: none;
    padding-bottom: 100px;
    color :black;
    text-align: left;
}

.divbox{
    margin : 0px;
}

footer{
    position: fixed;
    right: 0px;
}

.jsCalendar.clean-theme tbody td.jsCalendar-previous, .jsCalendar.clean-theme tbody td.jsCalendar-next {
    color: #000;
    opacity: 0.2;
}
#wrapper {
    position: fixed;
    right: 2.8%;
    bottom: 20%;
    width: 250px;
    height: 250px;
}
#wrapper .jsCalendar table {
    box-shadow: none;
}
.clear {
    clear: both;
}
#events-calendar {

}
#events {
    width: 220px;
    margin: 10px 20px 10px 5px;
}

#events .title {
    padding: 0px;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
#events .subtitle {
    padding: 5px 0px;
    font-size: 12px;
    text-align: center;
    color: #888;
}
#events .list {
    height: 50px;
    overflow-y: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#events .list .event-item {
    line-height: 24px;
    min-height: 24px;
    padding: 2px 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}
#events .list .event-item .close {
    font-weight: bold;
    font-size: 12px;
    color: #000;
    border-radius: 8px;
    height: 14px;
    width: 14px;
    line-height: 12px;
    text-align: center;
    float: right;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 0px;
    margin: 5px;
    display: block;
    overflow: hidden;
    background: #F44336;
    cursor: pointer;
}
#events .action {
    text-align: right;
}
#events .action input {
    padding: 0px;
    font-size: 12px;
    margin: 5px 5px;
    border: 1px solid #999999;
    height: 20px;
    width: 50px;
    background: #f8f8f8;
    color: black;
    cursor: pointer;
    transition: all 0.2s;
}
#events .action input:hover {
    background: #eee;
    border: 1px solid #000;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}
.version {
    font-size: 12px;
    width: 800px;
    margin: 0 auto;
    text-align: right;
}

.jsCalendar * {
    margin: 0;
    padding: 0;
}
.jsCalendar table,
.jsCalendar table th,
.jsCalendar table td {
    border: 0;
    box-sizing: content-box;
}
/* Blue default */
.jsCalendar table {
    background-color: #FFFFFF;
    border-collapse: collapse;
    border-radius: 4px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    color: #000000;
    margin: 5px;
}
.jsCalendar tr {
    line-height: 0;
}
.jsCalendar thead .jsCalendar-title {
    height: 40px;
    line-height: 40px;
}
.jsCalendar thead .jsCalendar-title-left {
    float: left;
}
.jsCalendar thead .jsCalendar-title-right {
    float: right;
}
.jsCalendar thead .jsCalendar-nav-left,
.jsCalendar thead .jsCalendar-nav-right {
    border-radius: 10px;
    color: #999999;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    line-height: 25px;
    margin: 10px 8px;
    text-align: center;
    transition: color 0.2s, background-color 0.2s;
    width: 20px;
}
.jsCalendar thead .jsCalendar-nav-left:hover,
.jsCalendar thead .jsCalendar-nav-right:hover {
    background-color: #E2E2E2;
    color: #000000;
}
.jsCalendar thead .jsCalendar-nav-left {
    float: left;
}
.jsCalendar thead .jsCalendar-nav-right {
    float: right;
}
.jsCalendar thead .jsCalendar-title-name {
    cursor: default;
    float: left;
    position: absolute;
    left: 80px;
    font-size: 18px;
    font-weight: lighter;
    padding: 0px ;
}
.jsCalendar thead .jsCalendar-nav-left:after {
    content: "<";
}
.jsCalendar thead .jsCalendar-nav-right:after {
    content: ">";
}
.jsCalendar thead .jsCalendar-week-days th {
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}
.jsCalendar thead .jsCalendar-week-days th,
.jsCalendar tbody td {
    border-radius: 18px;
    cursor: default;
    display: inline-block;
    font-size: 8px;
    font-weight: lighter;
    height: 25px;
    line-height: 25px;
    margin: 1px 2px;
    text-align: center;
    transition: color 0.1s, background-color 0.2s;
    width: 25px;
}
.jsCalendar tbody td:hover {
    background-color: #E6E6E6;
}
.jsCalendar tbody td.jsCalendar-selected {
    background-color: #ffa663;
    height: 25px;
    line-height: 25px;
    width: 25px;
}
.jsCalendar tbody td.jsCalendar-current {
    background-color: #52C9FF;
    border-radius: 18px;
    color: #FFFFFF;
}
.jsCalendar tbody td.jsCalendar-previous,
.jsCalendar tbody td.jsCalendar-next,
.jsCalendar tbody td.jsCalendar-unselectable {
    color: #CACACA;
}
.jsCalendar tbody td.jsCalendar-previous:hover,
.jsCalendar tbody td.jsCalendar-next:hover {
    color: #FFFFFF;
}

.jsCalendar tbody td.jsCalendar-unselectable:hover {
    background: transparent;
}

.jsCalendar thead {
    display: block;
    margin: 4px 4px 0 4px;
}
.jsCalendar tbody {
    display: block;
    margin: 0 4px 4px 4px;
}
.jsCalendar ::-moz-selection {
    background: #83D8FF;
}
.jsCalendar ::selection {
    background: #83D8FF;
}


